# Cadiocascular Death Regression Analysis

---

In [2]:
# Importing Dependables

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

# To surpress warnings
import warnings
warnings.filterwarnings('ignore')

In [7]:
# importing the datasets for the task

df = pd.read_csv(r"C:\Users\rave_consolidate\Desktop\cadiovascular_death\dataset\final_merge.csv")
df.head()

        Entity Code  Year  tempchange         CO2      Deaths
0  Afghanistan  AFG  1990    0.000894  14209854.0  373.796590
1  Afghanistan  AFG  1991    0.000891  14436271.0  266.298725
2  Afghanistan  AFG  1992    0.000891  13517736.0  224.447196
3  Afghanistan  AFG  1993    0.000890  12913293.0  278.393699
4  Afghanistan  AFG  1994    0.000888  13214674.0  370.591181

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6144 entries, 0 to 6143
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Entity      6144 non-null   object
 1   Code        6144 non-null   object
 2   Year        6144 non-null   int64
 3   tempchange  6144 non-null   float64
 4   CO2         6144 non-null   float64
 5   Deaths      6144 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 288.1+ KB

In [9]:
df_test = pd.read_csv(r"C:\Users\rave_consolidate\Desktop\cadiovascular_death\dataset\company_test_data.csv")
df_test.head()

       Company Name Ticker          ISIN  GHG   Emissions  Predicted Value
0           Acciona    ANA  ES0125220311  CO2   306905.00     4.248217e-06
1   Acciona Energia    ANE  ES0105563003  CO2    55276.00     5.498951e-07
2          Acerinox    ACX  ES0132105018  CO2  4333367.00     5.412198e-05
3              Aena   AENA  ES0105046009  CO2    51516.69     1.100690e-06
4  Amadeus IT Group    AMS  ES0109067019  CO2    13152.00     2.369140e-07

# For a Start tommorrow compare the company test set and the training data set if its has similar characteristics